<div class="row">
      <form class="col s12" name="myform">
        <div class="row">
          <div class="input-field col s4">
            <input id="input_text" name = "name" placeholder= "Название" type="text" data-length="10">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
            <input id="input_text" name = "price" placeholder= "Цена" type="number" data-length="10">
          </div>
        </div>

        <div class="row">
          <div class="input-field col s4">
            <input id="input_text" name ="id" placeholder= "Id" type="number" data-length="10">
            <label for="textarea2">Id</label>
          </div>
        </div>
      </form>
    </div>
<a class="waves-effect waves-light btn-small">Button</a>

    <script src ="addd.js"
          