<div class="row">
      <form class="col s12" name="delform">
        <div class="row">
          <div class="input-field col s4">
            <input id="input_text" name = "id" placeholder= "Id" type="text" data-length="10">
          </div>
        </div>
       </form>
</div>
<a class="waves-effect waves-light btn-small">Button</a>

<script src ="delete.js"></script>